.card-body {
    border : 5px;
    box-shadow: 5px 10px #888888;
}
.card-body:hover {
    border : 5px;
    border-color: rgb(75, 36, 75);
}

.button1 {
    border : 2px solid#AFD275;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 13px;
 }
 
 .button1:hover {
     background-color: #91d327;
     
   }

   .button2 {
    border : 2px solid#C2CAD0;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 12px;
 }
 
 .button2:hover {
     background-color: #C2CAD0;
     
   }