.categories {
  
    border : 2px solid rgb(75, 36, 75);
   
    border-radius : 10px;
    box-shadow: 5px 10px #888888;
  
}

.cat {
   border-radius: 5px;
}

.cat:hover {
    background-color: #adadad;
    
  }
