<div class="categories">

    <div class="card-header">
     <h3> <strong>Categories</strong> </h3>
    </div>
  
    <div >
    
       
     <div class="cat"><a routerLink = "/mostpop"><button class="btn">  Most Popular Books </button></a></div>
        <div class="cat"><a routerLink = "/newrel"><button class="btn"> New Releases </button></a></div>
         <div class="cat"> <a href=""><button class="btn"> Auther's Choice </button></a></div>
          <div class="cat">  <a href=""><button class="btn"> Miscellaneous </button></a></div>
 
    </div>
  </div>